[package]
name = "ultimengine"
version = "0.1.0"
edition = "2024"

[dependencies]
mimalloc = "0.1.47"
rand = "0.9.1"

[dev-dependencies]
criterion = { version = "0.8.1", features = ["html_reports"] }

[[bench]]
name = "moves"
harness = false

[profile.release]
codegen-units = 1
lto = "fat"

